<ol class="breadcrumb">
  <li class="active">Admin</li>
</ol>

<h1 class="page-header">Administrador</h1>

<div class="row">
  <h2 class="col-xs-12">Ítems</h2>

  <div class="col-sm-6 col-xs-12">
    <ul class="list-group">
      <a class="list-group-item" href="/admin/courses">Cursos General</a>
      <a class="list-group-item" href="/admin/courses/explicit_rating">Cursos con calificación explícita</a>
    </ul>
  </div>

  <div class="col-sm-6 col-xs-12">
    <ul class="list-group">
      <a class="list-group-item" href="/admin/lectures/implicit_rating">Clases con calificación implícita</a>
    </ul>
  </div>

</div>
<hr />
<div class="row">
  <h2 class="col-xs-12">Recomendaciones</h2>
  <div class="col-sm-6 col-xs-12">
    <ul class="list-group">
      <a class="list-group-item" href="/admin/recommendations/courses/explicit">Curso - Basadas en calificación explícita</a>
      <a class="list-group-item" href="/admin/recommendations/courses/implicit">Curso - Basadas en calificación implícita</a>
    </ul>
  </div>
  <div class="col-sm-6 col-xs-12">
    <ul class="list-group">
      <a class="list-group-item" href="/admin/recommendations/lectures/implicit">Clase - Basadas en calificación implícita</a>
    </ul>
  </div>
</div>