<div class="row">
    <h1 class="col-xs-12">Hola <%= user.hi_name %></h1>

    <div class="col-xs-11 col-md-10 col-lg-8 lead">
      <p>
        Te invitamos a calificar los cursos que has visto en Classroom.tv.
        Sólo haz clic en las estrellas bajo cada título, según tu preferencia.
        Si además quieres escribir un comentario o reseña del curso, haz clic en
        <span class="inline-b">"Escribir un comentario"</span>
      </p>
      <p>
        Esto nos permitirá recomendarte otros cursos que podrían ser de tu interés
        y ayudará a otros estudiantes a saber más del curso.
      </p>
    </div>
    </div>

    <hr>

    <div ng-controller="CourseReviewsController as courseReviews"
         ng-init="init(<%= user.user_id %>)"
         ng-cloak>

    <div class="row animated"
         ng-repeat="course in courseReviews.courses"
         ng-controller="ReviewController as reviewCtrl">

      <h2 class="col-xs-12">
        <a href="https://www.classroom.tv/course/{{course.course_id}}/{{course.title | lowercase |nospace}}" target="_blank">
          {{course.title}}
        </a>
      </h2>


      <div class="col-xs-4 col-sm-2 .col-md-1 col-lg-2">
        <img ng-src="{{course.image_url}}" class="img-responsive course-thumbnail" style=""/>
      </div>
      <div class="col-xs-8 col-sm-10 .col-md-11 col-lg-10" style="padding-left: 5px">
        <p class="text-muted">Has visto el {{course.rating.original_value | number}}% de este curso</p>

        <div style="/*margin-top: -21px*/">
          <p class="text-success animated slide-in-down" ng-show="ratingUpdated">Calificación guardada correctamente</p>
        </div>

        <star-rating ng-model="course.rating.explicit_rating"
                     course-rating="course.rating"
                     on-rating-selected="updateExplicitRating(course.rating)"></star-rating>
      </div>

      <div class="col-xs-12 append-bottom"></div>

      <div class="col-xs-12 col-sm-10 col-lg-8" ng-show="!showCourseReviewForm">
        <button type="button" class="btn btn-default" ng-show="!course.rating.review" ng-click="showTheCourseReviewForm(course.course_id)">
          <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span>
          Escribir comentario
        </button>
        <h3>
          {{course.rating.review.title}}
          <button class="btn btn-borderless btn-sm" type="button" ng-click="showTheCourseReviewForm(course.course_id);" ng-show="course.rating.review">
            <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span class="">Editar comentario</span>
          </button>
        </h3>
        <p>{{course.rating.review.body}}</p>
      </div>

      <course-review-form class="col-xs-12 col-sm-10 col-lg-8" ng-show="showCourseReviewForm"></course-review-form>

      <div class="col-xs-12">
        <hr>
      </div>
    </div>
</div>