Hola <%= user.hi_name %>

Nos gustaría conocer tu opinión sobre algunos cursos que
has tomado para poder recomedarte nuevos temas de estudio.
Para esto, te pedimos que califiques en una escala de
1 a 5 cualquiera de los cursos que has visto,Como premio recibirás la medalla
Calificador.Para hacerlo solo debes copiar esta dirección en tu navegador

<%= reviews_url %>

Este mensaje se envió a <%= user.email %>.
Si no quieres recibir más de estos mensajes de Classroom.tv en el futuro,
cancela tu suscripción copiando esta dirección en tu navegador
<%= "#{unsubscribe_url}?email=#{user.email}" %>

--
© <%= Time.new.year %> Classroom.tv Todos los derechos reservados
Américo Vespucio Norte 1090, piso 11 oficina 1101, 7630479 Vitacura,
Santiago, Chile.
