<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta charset="utf-8">
  <title>Califica los cursos que has visto</title>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <style>
      table {
          margin: 0 auto !important
      }

      /* yahoo */
      td {
          -ms-text-size-adjust: none;
          -webkit-text-size-adjust: none;
      }

      p {
          margin: 0;
          padding: 0;
          margin-bottom: 0;
      }

      @media screen and (max-width: 600px) {
          .width-full {
              width: 92% !important;
          }
      }

  </style>

  <!-- [if mso]
    <style>
    td {
      mso-line-height-rule: exactly
    }
  </style>
  -->

</head>
<body style="margin: 0; padding: 0; background:#f3f1ed ">
<table width="100%" style="width: 100%" bgcolor="#f3f1ed" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" bgcolor="#FFF" width="100%" style="width: 100% !important;">
        <tr>
          <td height="30" align="center">
            <font face="Arial" size="1" color="#8B6B51">
              Califica los cursos en los que has participado
            </font>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td>
      <table width="600" class="width-full" border="0" cellpadding="0" cellspacing="0" style="background:#fff; border:1px solid #e9e6e0; font-family:Arial, sans-serif; margin:0 auto;">
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" bgcolor="#097ecf" width="100%">
              <tr>
                <td height="10">&nbsp;</td>
              </tr>
              <tr bgcolor="#097ecf">
                <td width="163">&nbsp;</td>
                <td width="275" height="45" style="text-align:center;">
                  <img src="http://classroom.tv/img/logos/logo-iso-text-white.png" alt="Classroom.tv" width="275" style="max-width: 100%;">
                </td>
                <td width="162">&nbsp;</td>
              </tr>
              <tr bgcolor="#097ecf">
                <td height="10">&nbsp;</td>
              </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td height="20">&nbsp;</td>
              </tr>
              <tr>
                <td width="30">&nbsp;</td>
                <td width="540">
                  <p style="margin-top:0;margin-bottom:10px; line-height:1.4; color: #666">
                    <strong>Hola <%= user.hi_name %></strong>
                  </p>

                  <p style="margin-top:0;line-height:1.4; color: #666">
                    Nos gustaría conocer tu opinión sobre algunos cursos que
                    has tomado para poder recomedarte nuevos temas de estudio.
                    Para esto, te pedimos que califiques en una escala de
                    1 a 5 cualquiera de los cursos que has visto,
                    haciendo clic sobre ellos. Como premio recibirás la medalla <em style="font-style: italic">Calificador</em>.
                  </p>
                </td>
                <td width="30">&nbsp;</td>
              </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td height="20">&nbsp;</td>
              </tr>
              <tr>
                <td width="30">&nbsp;</td>
                <td width="540">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <% courses[0..1].each do |course| %>
                          <td width="260" height="100" valign="middle" align="left" bgcolor="#000" style="text-align:center;">
                            <a href="<%= reviews_url %>" style="text-decoration: none; display:block; ">
                              <img width="170" style="max-width: 100%" src="<%= course.image_url %>"/>
                            </a>
                          </td>
                          <td width="10">&nbsp;</td>
                        <% end %>
                    </tr>

                    <tr>
                        <% courses[0..1].each do |course| %>
                          <td width="260" valign="top" align="left" style="text-align:center">
                            <p style="margin-top:10px">
                              <a href="<%= reviews_url %>" style="color: #107FC9; text-decoration: none;display:block; ">
                                <span style="color: #107FC9"><%= course.title %></span>
                              </a>
                            </p>
                          </td>
                          <td width="10">&nbsp;</td>
                        <% end %>
                    </tr>

                    <tr>
                      <td height="20">&nbsp;</td>
                    </tr>

                    <tr>
                      <% courses[2] && courses[2..-1].each do |course| %>
                          <td width="260" height="100" valign="middle" align="left" bgcolor="#000" style="text-align:center;">
                            <a href="<%= reviews_url %>" style="text-decoration: none; display:block; ">
                              <img width="170" style="max-width: 100%" src="<%= course.image_url %>"/>
                            </a>
                          </td>
                          <td width="10">&nbsp;</td>
                      <% end %>
                    </tr>

                    <tr>
                      <% courses[2] && courses[2..-1].each do |course| %>
                          <td width="260" valign="top" align="left" style="text-align:center">
                            <p style="margin-top:10px">
                              <a href="<%= reviews_url %>" style="color: #107FC9; text-decoration: none;display:block; ">
                                <span style="color: #107FC9"><%= course.title %></span>
                              </a>
                            </p>
                          </td>
                          <td width="10">&nbsp;</td>
                      <% end %>
                    </tr>
                  </table>
                </td>
                <td width="30">&nbsp;</td>
              </tr>
              <tr>
                <td height="20">&nbsp;</td>
              </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%">
              <tr>
                <td width="30">&nbsp;</td>
                <td width="540">
                  <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width: 100% !important;">
                    <tr>
                      <td align="center" width="100%" style="-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" bgcolor="#FFBE00">
                        <a href="<%= reviews_url %>" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 12px 18px; border: 1px solid #FFBE00; display: block;">Calificar
                          mis cursos &rarr;</a>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="30">&nbsp;</td>
              </tr>
              <tr>
                <td height="20">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="margin:0 auto" class="width-full">
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
        <tr>
          <td width="20">&nbsp;</td>
          <td>
            <p align="center" style="text-align:center; margin-top:0;margin-bottom:10px;">
              <font face="Arial" size="2" color="#222222">
                Este mensaje se envió a <a href="mailto:<%= user.email %>"><%= user.email %></a>.
                Si no quieres recibir m&aacute;s de estos mensajes de Classroom.tv en el futuro,
                <a href='<%= "#{unsubscribe_url}?email=#{user.email}" %>'>
                  cancela tu suscripción
                </a>.
              </font>
            </p>

            <p align="center" style="text-align:center; margin-top:0;margin-bottom:10px;">
              <font face="Arial" size="1" color="#222222">
                <br>&copy; <%= Time.new.year %> Classroom.tv SPA, Todos los derechos reservados
                <br>Américo Vespucio Norte 1090, piso 11 oficina 1101, 7630479 Vitacura, Santiago, Chile.
              </font>
            </p>
          </td>
          <td width="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
