Hola <%= user.hi_name %>

Te recomendamos estos cursos que pensamos te pueden gustar, nos basamos
en los cursos tú y otros estudiantes han visto.

<% courses.each do |c| %>
    <%= c.title %>:
    <%= c.ctv_course_url %>
<% end %>


Este mensaje se envió a <%= user.email %>.
Si no quieres recibir más de estos mensajes de Classroom.tv en el futuro,
cancela tu suscripción copiando esta dirección en tu navegador
<%= "#{unsubscribe_url}?email=#{user.email}" %>

--
© <%= Time.new.year %> Classroom.tv Todos los derechos reservados
Américo Vespucio Norte 1090, piso 11 oficina 1101, 7630479 Vitacura,
Santiago, Chile.
