.fade-up-down {
  &.ng-hide-add {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
  }

  &.ng-hide-remove {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
}
.slide-in-down {
  &.ng-hide-remove {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }
}

.ng-enter {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

