.btn-primary {
  background-color: $blue_ctv;

  &:active, &:focus, &:hover {
    background-color: $dark_blue_ctv
  }
}

.btn-borderless {
  border: none;
  background: none;
  box-shadow: none;
  color: $blue_ctv;

  &:active, &:hover, &:focus {
    background: none;
    border: none;
    color: $blue_ctv;
    text-decoration: underline;
  }
}