.rating {
  $color_active: #ffcc45;
  $color_default: #dddddd;

  margin: 0 0 0 -4px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;

  li {
    padding: 0 4px;
    color: $color_default;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    font-size: 40px;
    transition: color 250ms ease-in-out;
  }

  > li.filled {
    color: $color_active;
  }

  &:hover > li {
    color: $color_active;
  }

  > li:hover ~ li {
    color: $color_default;
  }

  &.rating-view-only {

    li {
      cursor: default;
      font-size: 25px;
      padding: 0 1px;
      &:first-child{
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }

    &:hover > li {
      color: $color_default;
      &.filled {
        color: $color_active;
      }
    }
  }

}

.rating-label {
  min-width: 100px;
}