.padding-all {
  padding: 12px;
}

.append-bottom {
  margin-bottom: 10px;
}

.v-middle {
  vertical-align: middle !important;
}

.display-block {
  display: block;
  width: 100%;
}

.v-middle-align-wrapper{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.v-middle-align-el {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}