<div class="row">
  <h1 class="col-xs-12">Cancelar suscripción</h1>

  <div class="center-block">
    <div class="col-xs-11 col-md-10 col-lg-8">
      <p class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span> Al cancelar tu suscripción no recibirás más correos sobre
        cursos recomendados ni
        solicitudes para calificar o comentar cursos. Seguirás recibiendo otros correos
        importantes de Classroom.tv
      </p>

      <div class="panel panel-default col-xs-12">
        <form class="row"
              ng-controller="EmailSubscriberController as emailSubscriberCtrl"
              ng-init="init(<%= user.user_id %>,<%= user.email_subscriber? %>)"
              ng-submit="unsubscribe()"
        >
          <div class="row panel-body">
            <div class="col-xs-12 animated fade-up-down" ng-show="showSuccess">
              <div class="alert alert-success">
                <span class="glyphicon glyphicon-ok">&nbsp;</span>Ya no estás suscrito a estos correos
              </div>
            </div>

            <div class="form-group col-xs-12">
              <label>Tu email es</label>

              <input type="hidden" ng-model="user.is_email_subscriber"/>

              <input type="email"
                     readonly
                     class="form-control"
                     value="<%= user.email %>"
                     id="exampleInputEmail1"
                     placeholder="Correo electrónico"
              />
            </div>

            <div class="col-xs-12" style="">
              <button type="submit" class="btn btn-primary" ng-disabled="showSuccess">
                Cancelar suscripción
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<hr>