<!DOCTYPE html>
<html lang="es" ng-app="<%= angularjs[:app_name] if defined? angularjs %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><% page_title || 'Reviews Classroom.tv' %></title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
</head>
<body>


<div class="container">
  <%= yield %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_es-cl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js"></script>

<% if defined?(scripts) && scripts.is_a?(Array) %>
    <% scripts.each do |script_path| %>
        <script src="<%=script_path %>"></script>
    <% end %>
<% end %>

<% if ENV['ENV'] == 'production' %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-27249597-6', 'auto');
        ga('send', 'pageview');
        <% if defined?(user) && user && user.user_id %>
        ga('set', '&uid', '<%= user.user_id %>');
        <% end %>
    </script>
<% end %>

</body>
</html>