<!DOCTYPE html>
<html lang="es" ng-app="<%= angularjs[:app_name] if defined? angularjs %>">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><% page_title || 'Reviews Classroom.tv' %></title>
      <link rel="stylesheet" href="/css/main.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    </head>
    <body>

        <div class="header-site">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <img class="img-responsive header-site-logo" src="https://www.classroom.tv/img/logos/logo-iso-text-white.png">
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <%= yield %>
        </div>

        <footer class="container" ng-controller="FooterController as footerCtrl">
          <div class="row footer-single-line">
            <div class="col-xs-6">
              © <%=Time.new.year%> Classroom.tv
            </div>
            <div class="col-xs-6 text-right">
                <button type="button" class="btn btn-default" ng-click="backTop()">
                  <span class="glyphicon glyphicon-chevron-up"></span>
                  Volver arriba
                </button>
            </div>
          </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_es-cl.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js"></script>

        <% if defined?(scripts) && scripts.is_a?(Array) %>
            <% scripts.each do |script_path| %>
                <script src="<%=script_path %>"></script>
            <% end %>
        <% end %>

        <% if ENV['ENV'] == 'production' %>
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-27249597-6', 'auto');
                ga('send', 'pageview');
                <% if defined?(user) && user && user.user_id %>
                    ga('set', '&uid', '<%= user.user_id %>');
                <% end %>
            </script>
        <% end %>

    </body>
</html>