<!DOCTYPE html>
<html lang="es" ng-app="<%= angularjs[:app_name] if defined? angularjs %>">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%= page_title || 'Reviews Classroom.tv' %></title>
      <link rel="stylesheet" href="<%= "#{App.params['web']['base_url']}/css/main.css?#{Time.new.year}"%>">
      <% if defined? angularjs %>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
      <% end %>
    </head>
    <body>
        <div class="header-site append-bottom">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <img class="img-responsive header-site-logo" src="https://www.classroom.tv/img/logos/logo-iso-text-white.png">
              </div>
            </div>
          </div>
        </div>

        <div class="container">
            <%= yield %>
            <hr />
            <footer class="container">
              <div class="row footer-single-line">
                <div class="col-xs-6">
                  © <%=Time.new.year%> Classroom.tv
                </div>
              </div>
            </footer>
        </div>

        <% if defined? angularjs %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_es-cl.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js"></script>
        <% end %>

        <% if defined?(scripts) && scripts.is_a?(Array) %>
            <% scripts.each do |script_path| %>
                <script src="<%=script_path %>"></script>
            <% end %>
        <% end %>
    </body>
</html>