<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li><a href="/admin/courses">Cursos</a></li>
  <li class="active">Calificación explícita</li>
</ol>

<h1 class="page-header">
  Calificaciones de curso
  <small>con calificación explícita</small>
</h1>
<div class="row">

<div class="col-xs-12 col-sm-5">
  <h2 class="clearfix">
    <span class="pull-left">
      Estadísticas
    </span>
    <span class="pull-right glyphicon glyphicon-stats"></span>
  </h2>
  <table class="table table-striped table-bordered table-responsive">
    <tr>
      <th class="strong">Total de calificaciones explícitas</th>
      <td class="text-right"> <%= stats[:explicit_rating][:count] %></td>
    </tr>
    <tr>
      <th>Cursos calificados</th>
      <td class="text-right"> <%= stats[:explicit_rating][:unique_courses] %></td>
    </tr>
    <tr>
      <th>Usuarios que han calificado</th>
      <td class="text-right"> <%= stats[:explicit_rating][:unique_users] %></td>
    </tr>
    <tr>
      <th>Total de Comentarios</th>
      <td class="text-right"> <%= stats[:explicit_rating][:reviews_count] %></td>
    </tr>
  </table>
</div>

<div class="col-xs-12">
  <h2>Detalles</h2>
  <table class="table table-striped table-bordered table-responsive">
    <thead>
    <tr>
      <th>#</th>
      <th>Usuario</th>
      <th>Curso</th>
      <th class="text-center">Implícito</th>
      <th class="text-center">Explícito</th>
    </tr>
    </thead>

    <tbody>
    <% i = 0 %>
    <% ratings.each do |rating| %>
        <tr valign="middle">
          <td class="text-right"><%= i +=1 %></td>
          <td class="">
            <%= rating.user_id %>
            <br/>
            <%= rating.user.email %>
          </td>
          <td class="">
            <%= rating.course_id %>
            <br>
            <%= rating.course.title %>
          </td>
          <td class="text-center" title="<%= "Valor original #{rating.original_value} %" %>">
            <%= rating.implicit_rating %>
          </td>
          <td class="text-center">
            <%= rating.explicit_rating %>
            <% if rating.course_review %>
                <br />
                <%= rating.course_review.id %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>