<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li class="active">Cursos</li>
</ol>

<h1 class="page-header">
  Cursos
</h1>

<div class="row">

    <div class="col-xs-12 col-sm-5">
      <h2 class="clearfix">
        <span class="pull-left">
          Estadísticas
        </span>
        <span class="pull-right glyphicon glyphicon-stats"></span>
      </h2>
      <table class="table table-bordered table-responsive">
        <tr>
          <th class="">Total de cursos</th>
          <td class="text-right"> <%= courses.count %></td>
        </tr>
        <tr>
          <th class="">Total de calificaciones</th>
          <td class="text-right"> <%= stats[:implicit_rating][:count] + stats[:explicit_rating][:count]%></td>
        </tr>
        <tr>
          <th class="">Calificaciones implícitas</th>
          <td class="text-right">
            <%= stats[:implicit_rating][:count] %>
          </td>
        </tr>
        <tr>
          <th class="">Calificaciones explícitas</th>
          <td class="text-right">
            <%= stats[:explicit_rating][:count] %>
          </td>
        </tr>
        <tr>
          <th class="">Total de comentarios</th>
          <td class="text-right"> <%= course_reviews_count.inject(0) { |sum, data| sum + data[1] } %></td>
        </tr>
      </table>
    </div>

    <div class="col-xs-12">
      <h2>Detalles</h2>
      <table class="table table-striped table-bordered table-responsive">
        <thead>
        <tr>
          <th class="v-middle">#</th>
          <th class="v-middle">Título</th>
          <th class="v-middle text-center">Calificación promedio</th>
          <th class="v-middle text-center">N° de calificaciones explícitas</th>
          <th class="v-middle text-center">N° de calificaciones implícitas</th>
          <th class="v-middle">Comentarios</th>
          <th class="v-middle">Visitas</th>
        </tr>
        </thead>

        <tbody>
        <% i = 0 %>
        <% courses.each do |c| %>
            <tr valign="middle">
              <td class="text-right v-middle"><%= i +=1 %></td>
              <td class="v-middle">
                <%= c.course_id %>
                <br/>
                <%= c.title %>
              </td>
              <td class="v-middle text-right">
                <%= c.average_rating.to_f.round(1) || '--'%>
              </td>
              <td class="v-middle text-right">
                <%= c.explicit_ratings_count || 0 %>
              </td>
              <td class="v-middle text-right">
                <%= implicit_ratings[c.course_id] || 0 %>
              </td>
              <td class="v-middle text-right">
                <%= course_reviews_count[c.course_id] || 0 %>
              </td>

              <td class="v-middle text-right">
                <%= c.view_count %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</div>