<form name="reviewForm" ng-submit="reviewForm.$valid && saveReview(course)" novalidate>

    <div class="bg-info append-bottom padding-all">
        <p>Ten en cuenta lo siguiente al escribir tu comentario:</p>
        <ul>
            <li>¿Por qué elegiste esta calificación?</li>
            <li>¿Qué te gustó y qué no te gustó?</li>
            <li>Identifica atributos específicos e indica si ha cumplido tus expectativas</li>
            <li>¿A quién recomendarías este curso?</li>
        </ul>
        <div class="txt-right">
            <button class="btn btn-borderless" type="button" ng-click="showExamples=!showExamples">
                <span class="glyphicon glyphicon-comment"></span>
                {{showExamples ? 'Ocultar' : 'Ver'}} ejemplos de comentarios
            </button>
        </div>
    </div>

    <section ng-init="showExamples=false" ng-show="showExamples" class="animated fade-up-down panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <h4 class="panel-title">Ejemplos de comentarios</h4>
            </div>
            <div class="pull-right">
                <button type="button" title="Cerrar sección ejemplos" class="close" aria-label="Close"
                        ng-click="showExamples=false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!--<div class="panel-body"></div>-->
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Ejemplo</h4>
                <p>
                    <h5>Título:</h5>
                    Contenido actualizado

                    <h5>Descripción:</h5>
                    Este curso me pareció muy bueno en cuanto a su contenido,
                    por ello mi evaluación es de 5 estrellas. Es un curso que está actualizado,
                    trabaja muy bien los temas y cumple los objetivos que plantea.
                    El profesor es un poco lento aveces pero uno tiene la opción de acelerar el video,
                    por lo cual no genera problemas.
                </p>
            </li>
        </ul>
    </section>



    <div class="form-group" style="margin-top: 15px">
        <label>Título</label>
        <input type="text" sync-focus-with="showCourseReviewForm" class="form-control" placeholder="Título o resumen de tu comentario" ng-model="course.rating.review.title" required>
    </div>

    <div class="form-group">
        <label>Comentario</label>
        <textarea style="height: 200px" class="form-control" ng-model="course.rating.review.body" placeholder="Escribe aquí tus comentarios sobre el curso" required></textarea>
    </div>
    <input type="hidden" ng-model="course.rating.review.rating_id"/>

    <div class="text-right">
        <button type="button" class="btn btn-default" ng-click="showCourseReviewForm=false">
            Cancelar
        </button>
        <button type="submit"
                autocomplete="off"
                class="btn btn-primary"
                ng-disabled="!reviewForm.$valid || savingForm ">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            <span ng-show="!savingForm">Guardar Comentario</span>
            <span ng-show="savingForm">Guardando…</span>

        </button>
    </div>
</form>