<ul class='rating'>
    <li ng-repeat='star in stars' ng-class='star' ng-click='toggle($index)' ng-mouseleave="setRatingLabel()" ng-mouseover="mouserOver($index)">
        <span name="star_{{star}}" class="glyphicon glyphicon-star"></span>
    </li>
</ul>
<span class="inline-block rating-label">{{ratingLabel}}</span>
