<base href="/">

<div ng-controller="CourseRatingsViewController as courseRatingViewCtrl" ng-cloak ng-show="course.course_id">

  <div class="row append-bottom">
    <div class="">
      <div class="col-xs-6 col-sm-4 text-center" style="">

        <div class="">
          Calificación promedio
          <h1 style="font-size: 50px">
            {{course.average_rating | number: 1}}
          </h1>

          <ul class='rating rating-view-only'>
            <li ng-repeat="n in [1,2,3,4,5] track by $index"
                ng-class="{'filled': n <= course.average_rating }">
              <span class="glyphicon glyphicon-star"></span>
            </li>
          </ul>

          <p>
            {{course.explicit_ratings_count}} calificaciones
          </p>
        </div>

      </div>
      <div class="col-xs-6 col-sm-4 rating-progress" style="height: 165px;">
        <div class="" ng-repeat="n in [5,4,3,2,1] track by $index">
          <div class="pull-left" style="width: 75px">
            {{n}} estrella{{n !== 1 ? 's' : ''}} &nbsp;
          </div>
          <div class="pull-right">&nbsp; ({{course.stars[n] || 0}})</div>
          <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 aria-valuenow="{{1}}"
                 aria-valuemin="0" aria-valuemax="100"
                 style="width: {{(100*course.stars[n]/course.explicit_ratings_count)}}%">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 v-middle-align-wrapper" ng-show="user.user_id" style="height: 165px;">
        <div class="v-middle-align-el text-center">
          <p class="">Comparte tu experiencia con otros estudiantes</p>
          <button type="button" class="btn btn-primary" ng-click="showRatingForm()" ng-disabled="!course.course_id">
            Califica este curso
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" ng-show="showCourseRatingForm">
    <hr>
    <label class="animated slideInDown">Tu calificación actual</label>

    <div class="clearfix animated slideInDown" style="">
      <div>
        <p class="text-success animated slide-in-down" ng-show="ratingUpdated">Calificación guardada correctamente</p>

        <star-rating
        ng-model="user_course_rating"
        class="pull-left"
        on-rating-selected="updateExplicitRating(user_course_rating)"
        ng-rating-value="user_course_rating ? user_course_rating.explicit_rating : 0"
        >
        </star-rating>
      </div>

      <div class="pull-right text-center" style="">
        <button class="btn btn-default" style="margin-top: 12px" ng-click="showReviewForm()" ng-disabled="!user_course_rating">
          <span class="glyphicon glyphicon-comment"></span>
          {{ user_course_review.body ? 'Editar' : 'Escribir'}} comentario
        </button>
      </div>
    </div>

    <p class="text-success animated slide-in-down" ng-show="reviewUpdated">Comentario guardado correctamente</p>

    <form name="reviewForm" novalidate
          ng-submit="reviewForm.$valid && saveReview()"
          ng-show="showCourseReviewForm">

      <div class="bg-info append-bottom padding-all">
        <p>Ten en cuenta lo siguiente al escribir tu comentario:</p>
        <ul>
          <li>¿Por qué elegiste esta calificación?</li>
          <li>¿Qué te gustó y qué no te gustó?</li>
          <li>Identifica atributos específicos e indica si ha cumplido tus expectativas</li>
          <li>¿A quién recomendarías este curso?</li>
        </ul>
        <div class="txt-right">
          <button class="btn btn-borderless" type="button" ng-click="showExamples=!showExamples">
            <span class="glyphicon glyphicon-comment"></span>
            {{showExamples ? 'Ocultar' : 'Ver'}} ejemplos de comentarios
          </button>
        </div>
      </div>

      <section ng-init="showExamples=false" ng-show="showExamples" class="animated fade-up-down panel panel-default">
        <div class="panel-heading clearfix">
          <div class="pull-left">
            <h4 class="panel-title">Ejemplos de comentarios</h4>
          </div>
          <div class="pull-right">
            <button type="button" title="Cerrar sección ejemplos" class="close" aria-label="Close"
                    ng-click="showExamples=false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <h4>Ejemplo</h4>

            <p>
            <h5>Título:</h5>
            Contenido actualizado

            <h5>Descripción:</h5>
            Este curso me pareció muy bueno en cuanto a su contenido,
            por ello mi evaluación es de 5 estrellas. Es un curso que está actualizado,
            trabaja muy bien los temas y cumple los objetivos que plantea.
            El profesor es un poco lento aveces pero uno tiene la opción de acelerar el video,
            por lo cual no genera problemas.
            </p>
          </li>
        </ul>
      </section>

      <div class="form-group" style="margin-top: 15px">
        <label>Título</label>
        <input type="text" sync-focus-with="showCourseReviewForm" class="form-control" placeholder="Título o resumen de tu comentario" ng-model="user_course_review.title" required>
      </div>

      <div class="form-group">
        <label>Comentario</label>
        <textarea style="height: 200px" class="form-control" ng-model="user_course_review.body" placeholder="Escribe aquí tus comentarios sobre el curso" required></textarea>
      </div>
      <input type="hidden" ng-model="user_course_review.id"/>

      <div class="text-right">
        <button type="button" class="btn btn-default" ng-click="showCourseReviewForm=false">
          Cancelar
        </button>
        <button type="submit"
                autocomplete="off"
                class="btn btn-primary"
                ng-disabled="!reviewForm.$valid || savingForm ">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
          <span ng-show="!savingForm">Guardar Comentario</span>
          <span ng-show="savingForm">Guardando…</span>

        </button>
      </div>
    </form>
  </div>


  <div class="col-xs-12">
    <hr>
    <!--<h2 class="">Comentarios</h2>-->
    <br>

    <div ng-repeat="review in reviews" class="">

      <div class="clearfix row">

        <div class="col-xs-3 text-center">
          <img class="img-circle append-bottom" alt="…" ng-src="{{review.author.avatar_url}}" data-holder-rendered="true" style="width: 70px; height: 70px;">

          <p>{{review.author.hi_name}}</p>
        </div>

        <div class="col-xs-9">
          <div ng-show="(review.feedback.positive+review.feedback.negative) > 0" class="">
                <span class="" ng-show="review.feedback.positive+review.feedback.negative > 1">
                    {{review.feedback.positive}} de {{review.feedback.positive+review.feedback.negative}}
                    estudiantes consideraron útil este comentario
                </span>

                <span class="" ng-show="review.feedback.positive+review.feedback.negative == 1">

                    1 estudiante {{review.feedback.negative == 1 ? 'no' : ''}} consideró útil este comentario
                </span>

          </div>
          <div class="clearfix append-bottom" style="height: 35px">
            <ul class='rating rating-view-only small pull-left'>
              <li ng-repeat="n in [1,2,3,4,5] track by $index"
                  ng-class="{'filled': n <= review.rating.explicit_rating }">
                <span class="glyphicon glyphicon-star"></span>
              </li>
            </ul>
            <div class="pull-right" style="line-height: 35px">
              <span class="v-middle">{{(review.updated_at) | date:'fullDate'}}</span>
            </div>
          </div>
          <strong>{{review.title}}</strong>

          <p>{{review.body}}</p>

          <div ng-controller="CourseReviewsFeedbackController as courseReviewFeedbackCtrl" ng-show="user.user_id">
            <small class="append-bottom">
              ¿Fue este comentario útil para ti?
              <button class="btn btn-default btn-sm" ng-click="setFeedback(review, true)">Sí</button>
              &nbsp;
              <button class="btn btn-default btn-sm" ng-click="setFeedback(review, false)">No</button>
            </small>
            <p class="text-success animated slide-in-down" ng-show="reviewUpdated">
              Gracias, tu feedback ha sido registrado correctamente
            </p>
          </div>
        </div>
      </div>
      <hr>

    </div>
  </div>

</div>

<script>
    (function () {
        var app = angular.module('courseView', ['ngAnimate', 'angular-loading-bar'], function ($locationProvider) {
            $locationProvider.html5Mode(false);
        });
        app.controller('CourseRatingsViewController', ['$http', '$scope', '$location', function ($http, $scope, $location) {

            var params = $location.search();

            $scope.course = {};
            $scope.user_course_rating = {explicit_rating: 0};
            $scope.user_course_review = {};
            $scope.user = {};
            $scope.reviews = [];

            var reloadCourses = function () {
                if (params.course) {

                    $http({
                        url: '/api/v1/courses/' + params.course,
                        method: 'GET'
                    }).success(function (data) {
                        $scope.course = data.course;
                        $scope.course.stars = data.stars_count;
                    }).error(function (data) {
                        alert('Ocurrió un error obteniendo los cursos, lo sentimos :(')
                    });
                    return this;
                }
            };

            var reloadReviews = function () {

                if (!params.course) return this;

                $http({
                    url: '/api/v1/courses/' + params.course + '/reviews',
                    method: 'GET'
                }).success(function (data) {
                    //console.log(data);
                    $scope.reviews = data.reviews
                }).error(function (data) {
                    alert('Ocurrió un error obteniendo los comentarios, lo sentimos :(')
                });

                return this;
            };

            if (params.course) {

                reloadCourses();
                reloadReviews();

                if (params.user) {
                    $http({
                        url: '/api/v1/users/' + params.user,
                        method: 'GET'
                    }).success(function (data) {
                        $scope.user = data
                    }).error(function (data) {
                        alert('Ocurrió un error, lo sentimos :(')
                    });

                    $http({
                        url: '/api/v1/users/' + params.user + '/ratings?course_id=' + params.course,
                        method: 'GET'
                    }).success(function (data) {
                        //console.log(data);
                        $scope.user_course_rating = data.course_rating;
                        $scope.user_course_review = data.review;
                    }).error(function (data) {
                        alert('Ocurrió un error, lo sentimos :(')
                    });
                }
            }

            $scope.showCourseRatingForm = false;
            $scope.showCourseReviewForm = false;
            $scope.ratingUpdated = false;

            $scope.showRatingForm = function () {
                $scope.showCourseRatingForm = true;
            };

            $scope.showReviewForm = function () {
                $scope.showCourseReviewForm = true;
            };

            $scope.saveReview = function () {
                $scope.savingForm = true;

                var review = $scope.user_course_review,
                        url = '/api/v1';

                if (review.rating_id === undefined) {
                    review.rating_id = $scope.user_course_rating.id;
                }

                if (!review.id) {
                    url += '/ratings/' + review.rating_id + '/reviews';
                } else {
                    url += '/reviews/' + review.id
                }

                $http({
                    url: url,
                    method: review.id ? 'PUT' : 'POST',
                    data: {review: review}
                }).success(function (data) {
                    $scope.user_course_review = data;
                    $scope.reviewUpdated = true;
                    $scope.showCourseReviewForm = false;
                    reloadReviews();
                }).error(function (data) {
                    alert('Ocurrió un error guardando tu comentario, lo sentimos :(');
                }).finally(function () {
                    $scope.savingForm = false;
                });
            };

            $scope.updateExplicitRating = function (rating) {
                if (!rating.user_id)   rating.user_id = $scope.user.user_id;
                if (!rating.course_id) rating.course_id = $scope.course.course_id;

                $http({
                    url: '/api/v1/ratings' + (rating.id ? '/' + rating.id : ''),
                    method: rating.id ? 'PUT' : 'POST',
                    data: {rating: rating}
                }).success(function (data) {
                    $scope.user_course_rating = data;
                    $scope.ratingUpdated = true;
                    reloadCourses();
                    $scope.user_course_review && reloadReviews();
                }).error(function (data) {
                    alert('Ocurrió un error guardando tu calificación, lo sentimos :(')
                });
            }

        }]);

        app.directive('starRating', function () {
            return {
                restrict: 'E',
                templateUrl: '/js/apps/users/courses/reviews/star-rating.html',
                scope: {
                    rating: "=ngModel",
                    ratingValue: '=ngRatingValue',
                    onRatingSelected: "&?"
                },

                link: function (scope, elem, attrs) {

                    scope.ratingValue = scope.ratingValue || 0;

                    var updateStars = function () {
                        if (!scope.stars) {
                            scope.stars = [
                                {label: 'Muy malo'},
                                {label: 'Malo'},
                                {label: 'Está bien'},
                                {label: 'Me gusta'},
                                {label: 'Me encanta'}
                            ]
                        }

                        for (var i = 0; i < 5; i++) {
                            scope.stars[i].filled = i < scope.ratingValue
                        }
                    };

                    updateStars();

                    scope.toggle = function (index) {
                        scope.ratingValue = index + 1;
                        scope.rating.explicit_rating = scope.ratingValue;
                        scope.onRatingSelected(scope.rating);
                        scope.stars[index].filled = true;
                    };

                    scope.mouserOver = function (index, el) {
                        scope.ratingLabel = scope.stars[index].label;
                    };

                    scope.setRatingLabel = function () {
                        scope.ratingLabel = scope.ratingValue > 0 ? scope.stars[scope.ratingValue - 1].label : '';
                    };
                    scope.setRatingLabel();

                    scope.$watch("ratingValue", updateStars);
                }
            };
        });

        app.controller('CourseReviewsFeedbackController', ['$http', '$scope', function ($http, $scope) {
            $scope.reviewUpdated = false;
            $scope.setFeedback = function (review, isPositive) {
                $scope.reviewUpdated = false;
                $scope.reviewUpdated = true;

                var feedback = {
                    course_review_id: review.id,
                    feedback: !!isPositive,
                    user_id: $scope.user.user_id
                };

                $http({
                    url: '/api/v1/reviews/' + review.id + '/feedback',
                    method: 'POST',
                    data: {review_feedback: feedback}
                }).success(function (data) {
                    review.feedback = data.feedback;
                }).error(function (data) {
                    alert('Ocurrió un error guardando tu calificación, lo sentimos :(')
                });
            };
        }]);

        app.directive('syncFocusWith', function ($timeout, $rootScope) {
            return {
                restrict: 'A',
                scope: {
                    focusValue: "=syncFocusWith"
                },
                link: function ($scope, $element, attrs) {
                    $scope.$watch("focusValue", function (currentValue, previousValue) {
                        if (currentValue === true && !previousValue) {
                            $timeout(function () {
                                $element[0].focus();
                            });
                        }
                    })
                }
            }
        });

    })();
</script>
<script type="text/javascript" src="https://s3.amazonaws.com/static.classroom.tv/js/iframeResizer.contentWindow.min.js"></script>

