<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li class="">
    <a href="/admin/recommendations/courses/<%= params[:rating_type] %>">
      Recomendación de cursos con calificación
      <%= params[:rating_type] == 'explicit' ? 'explícita' : 'implícita' %>
    </a>
  </li>
  <li class="active">
    <%= rec_set.user.hi_name %>
  </li>
</ol>

<h1 class="page-header">
  Recomendaciones para <%= rec_set.user.hi_name %>
  <small>
    Usando calificaciones
    <%= params[:rating_type] == 'explicit' ? 'explícitas' : 'implícitas' %>
  </small>
</h1>

<table class="table table-striped table-bordered table-responsive">
  <tr>
    <td></td>
    <th class="text-center">Curso</th>
    <th class="text-center">Calificación (real)</th>
    <th class="text-center">Predicción</th>
    <th class="text-center">Predicciones pasadas</th>
    <th class="text-center">¿Feedback positivo?</th>
    <th class="text-center">Última actualización</th>
  </tr>
  <% i = 0 %>
  <% Models::RecommendedCourse.where(:recommendation_set_id=> rec_set.id).each do |item| %>
      <tr>
        <td class="text-right v-middle"><%= i += 1 %></td>
        <td>
          <%= item.course_id %>
          <br>
          <a href="<%= "https://www.classroom.tv/course/#{item.course_id}/#{item.course.title.parameterize}" %>" target="_blank">
            <%= item.course.title %>
          </a>
        </td>
        <td class="text-right v-middle">
            <% if user_ratings[item.course_id.to_s].is_a?(Hash) %>
              <% user_ratings[item.course_id.to_s].each do |k,v| %>
                <%= "#{k}: #{v}" %>
                  <br>
              <% end %>
            <% else %>
              <%= user_ratings[item.course_id.to_s] %>
            <% end %>
        </td>
        <td class="text-right v-middle">
          <%= item.prediction_score.round(3) %>
        </td>
        <td class="v-middle text-right">
          <%= item.previous_ratings.nil? ? '' : item.previous_ratings.map { |x| x.round(3) }.join(', ') %>
        </td>
        <td class="text-center v-middle"><%= item.positive_feedback %></td>
        <td class="text-center v-middle"><%= item.updated_at.getlocal.strftime('%d-%m-%Y %H:%M:%S') %></td>
      </tr>
  <% end %>

</table>

