<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li class="active">
    Recomendación de cursos con calificación
    <%= params[:rating_type] == 'explicit' ? 'explícita' : 'implícita' %>
  </li>
</ol>

<h1 class="page-header">
  Recomendación de cursos
  <small>
    calificaciones
    <%= params[:rating_type] == 'explicit' ? 'explícitas' : 'implícitas'%>
  </small>
</h1>

<div class="row">
  <div class="col-xs-12">
    <h2>Detalles</h2>
    <table class="table table-striped table-bordered table-responsive">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>Usuario</th>
          <th class="text-center">¿Feedback positivo?</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <% i = 0 %>
      <% rec_sets.each do |rec_set| %>
          <tr>
            <td class="text-right v-middle"><%= i+=1 %></td>
            <td>
              <%= rec_set.user_id %>
              <br>
              <%= rec_set.user.email %>
            </td>
            <td class="text-center v-middle">
              <% if rec_set.positive_feedback == true %>
                <span class="glyphicon glyphicon-thumbs-up"></span>
              <% elsif rec_set.positive_feedback == false %>
                  <span class="glyphicon glyphicon-thumbs-down"></span>
              <% else %>
                …
              <% end %>
            </td>
            <td class="text-center v-middle">
              <%  url = "/admin/recommendations/courses/#{params[:rating_type]}/#{rec_set.id}" %>
              <a href="<%= url %>">Ver</a>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<% pages = (rec_sets_count/items_per_page.to_f).ceil - 1%>
<% if pages > 0 %>
  <nav class="text-right">
    <ul class="pagination">
      <li class="<%= current_page == 0 ? 'disabled' : ''%>">
        <a href="<%= current_page == 0 ? '#' : "?page=#{current_page-1}" %>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% for page in 0..(pages) %>
          <li class="<%= page == current_page ? 'active' : ''%>">
            <a href="?page=<%= page %>"><%= page %></a>
          <li>
      <% end %>
      <li class="<%= current_page == pages ? 'disabled' : ''%>">
        <a href="<%= current_page == pages ? '#' : "?page=#{(current_page+1)}" %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
<% end %>

