<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li class="">
    <a href="/admin/recommendations/lectures/<%= params[:rating_type] %>">
      Recomendación de clases con calificación
      <%= params[:rating_type] == 'explicit' ? 'explícita' : 'implícita' %>
    </a>
  </li>
  <li class="active">
    <%= rec_set.user.hi_name %>
  </li>
</ol>

<h1 class="page-header">
  Recomendaciones para <%= rec_set.user.hi_name %>
  <small>
    Usando calificaciones
    <%= params[:rating_type] == 'explicit' ? 'explícitas' : 'implícitas' %>
  </small>
</h1>


<% courses = {} %>
<% courses_with_participation = {} # those courses that belongs to the rec lecture%>
<% courses_total = 0.0 %>
<%
  rec_set.recommended_items.each do |item|
    if user_ratings.has_key?(item.lecture_id.to_s)
      if courses_with_participation[item.lecture.course_id].nil?
        courses_with_participation[item.lecture.course_id] = 1
      else
        courses_with_participation[item.lecture.course_id] += 1
      end
    else
      if courses[item.lecture.course_id].nil?
        courses[item.lecture.course_id] = 1
      else
        courses[item.lecture.course_id] += 1
      end
      courses_total += 1
    end
  end

%>


<h2>Estadísticas</h2>
<div class="row append-bottom">
  <div class="col-xs-12 col-md-7" >
    <p class="bg-info" style="padding: 15px">
      Cursos a los que pertenecen las clases recomendadas.
      En amarillo se muestran los cursos en los que el usuario ha tenido participación.
    </p>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <% courses.each do |course_id, total| %>
            <div class="row clearfix" style="padding-top: 20px">
              <div class="col-xs-3 text-right">
                Curso: <%= course_id %>
              </div>
              <div class="col-xs-6">
                <% p = (100*total / courses_total).round(2) %>
                <div class="progress">
                  <div class="progress-bar <%= courses_with_participation.has_key?(course_id) ? 'progress-bar-warning' : '' %>" role="progressbar" aria-valuenow="<%= p %>" aria-valuemin="0" aria-valuemax="100" style="width: <%="#{p}%"%>;">
                  </div>
                </div>
              </div>
              <div class="col-xs-3"> &nbsp; <%= p %>%</div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h2>Detalles</h2>
<table class="table table-striped table-bordered table-responsive">
  <tr>
    <td></td>
    <th class="text-center">Clase</th>
    <th class="text-center">Calificación (real)</th>
    <th class="text-center">Predicción</th>
    <th class="text-center">Predicciones pasadas</th>
    <th class="text-center">¿Feedback positivo?</th>
    <th class="text-center">Última actualización</th>
  </tr>
  <% i = 0 %>
  <% rec_set.recommended_items.each do |item| %>
      <tr>
        <td class="text-right v-middle"><%= i += 1 %></td>
        <td>
          <%= item.lecture_id %>
          (<%= item.lecture.course_id %>)
          <br>
          <a href="<%= "https://www.classroom.tv/class/#{item.lecture_id}/#{item.lecture.title.parameterize}" %>" target="_blank">
            <%= item.lecture.title %>
          </a>
        </td>
        <td class="text-center v-middle">
          <% if user_ratings[item.lecture_id.to_s].is_a?(Hash) %>
              <%= user_ratings[item.lecture_id.to_s][:visto] || 0 %>
          <% else %>
              <%= user_ratings[item.lecture_id.to_s] %>
          <% end %>
        </td>
        <td class="text-right v-middle">
          <%= item.prediction_score.round(3) %>
        </td>
        <td class="v-middle text-right">
          <%= item.previous_ratings.nil? ? '' : item.previous_ratings.map { |x| x.round(3) }.join(', ') %>
        </td>
        <td class="text-center v-middle"><%= item.positive_feedback %></td>
        <td class="text-center v-middle"><%= item.updated_at.getlocal.strftime('%d-%m-%Y %H:%M:%S') %></td>
      </tr>
  <% end %>

</table>

