<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li class="active">Clases</li>
</ol>

<h1 class="page-header">
  Clases
</h1>

<div class="row">

  <div class="col-xs-12 col-sm-5">
    <h2 class="clearfix">
        <span class="pull-left">
          Estadísticas
        </span>
      <span class="pull-right glyphicon glyphicon-stats"></span>
    </h2>
    <table class="table table-bordered table-responsive">
      <tr>
        <th class="">Total de clases</th>
        <td class="text-right"><%=lectures_count%></td>
      </tr>
      <tr>
        <th class="">Total de calificaciones implícitas</th>
        <td class="text-right"><%=lecture_ratings_count%></td>
      </tr>
      <tr>
        <th class="">Clases con calificaciones</th>
        <td class="text-right">
          <%= unique_lectures %>
        </td>
      </tr>
      <tr>
        <th class="">Usuarios que han calificado</th>
        <td class="text-right">
          <%= unique_users %>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-xs-12">
    <h2>Detalles</h2>
    <table class="table table-striped table-bordered table-responsive">
      <thead>
      <tr>
        <th class="v-middle">#</th>
        <th class="v-middle">Título</th>
        <th class="v-middle text-center">N° de calificaciones implícitas</th>
        <th class="v-middle">Visitas</th>
      </tr>
      </thead>

      <tbody>
      <% i = 0 %>
      <% lectures.each do |l| %>
          <tr valign="middle">
            <td class="text-right v-middle"><%= i +=1 %></td>
            <td class="v-middle">
                <%= l.lecture_id %>
                <br/>
              <a target="_blank" href='<%= "http://www.classroom.tv/class/#{l.lecture_id}/#{l.title.parameterize}" %>'>
                <%= l.title %>
              </a>
            </td>
            <td class="v-middle text-right">
              <%= l.ratings.count %>
            </td>
            <td class="v-middle text-right">
              <%= l.view_count %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<% pages = (lectures_count/items_per_page.to_f).ceil - 1%>
<nav class="text-right">
  <ul class="pagination">
    <li class="<%= current_page == 0 ? 'disabled' : ''%>">
      <a href="<%= current_page == 0 ? '#' : "?page=#{current_page-1}" %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% for page in 0..(pages) %>
        <li class="<%= page == current_page ? 'active' : ''%>">
          <a href="?page=<%= page %>"><%= page %></a>
        <li>
    <% end %>
    <li class="<%= current_page == pages ? 'disabled' : ''%>">
      <a href="<%= current_page == pages ? '#' : "?page=#{(current_page+1)}" %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>